/*
 * Globals
 */
.height-100 {
  height: 100vh
}

.card {
  width: 380px;
  border: none;
  height: 280px
}

.ratings {
  margin-right: 10px
}

.ratings i {
  color: #cecece;
  font-size: 16px
}

.rating-color {
  color: #fbc634 !important
}
.bg{
  background: url('./img/Bg.png') no-repeat;
}
.review-count {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 24px !important
}

.small-ratings i {
  color: #cecece
}

.review-stat {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 2px
}
/*
 * Base structure
 */
.for-border{
  background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.15);
box-sizing: border-box;
border-radius: 12px;
padding: 12px 20px 0px 20px;
width: 80%;
margin: auto;
}
body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
